* {
    text-decoration: none;
    margin: 0;
}

#header {
    position: fixed;
    font-size: 5vh;
    width:100%;
    z-index: 1;
}

.sidepanel {
    overflow-y:hidden;
    z-index: 1;
    position:fixed;
    top:5vh;
    width:250px;
    background-color: rgb(153, 31, 0);
    text-align: center;
    height: 100%;
    z-index: 1;
}

#elements{
    display: block;
    color: #ffffff;
    height:9vh;
    font-size: 5vh;
    padding-top: 7vh;
    padding-left: 5px;
    padding-right: 6px;
    border-bottom: 2px solid white;
    border-left:9px solid transparent;
    transition: all .5s ease;
    
}

#elements:hover {
    border-left:5px solid #000000;
    color:#000000;
}
#elements.active{
    border-left:5px solid #000000;
    color:#000000;
}
#check{
    display: none;
    visibility: hidden;
    top:4vh;
}
/*start for simulation css*/
#content {

    border: 1px solid white;
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    top: 10vh;
    left: 28vw;
    width: 70vw;
    font-size: 3vh;
}

h1 {
    font-size: 4vh;
    position: relative;
    width: fit-content;
    top: 10vh;
    left: 28vw;
}

#header {
    background-color: rgb(153, 31, 0);
}
#header i{
    font-size:auto;
    margin-left:1vw;
}
#exp{
    color:#ffffff;
}
#home{
    position: absolute;
    top:1vh;
    left:90vw;
    color:white;
    width:fit-content;
    font-size: 3vh;
    text-decoration: underline;
}
#terminal {
    background-color: black;
    width: fit-content;
    border: 4px solid black;
    border-radius: 5px;
    text-decoration: none;
}

#terminal a {
    cursor: pointer;
    color: #f8f8f8;
}

#terf {

    height: 300px;
    width: 300px;
    resize: both;
    overflow: hidden;
}

#test {
    position: relative;
    top: 10vh;
    left: 28vw;
    width: fit-content;
}


#result {
    position: relative;
    top: 10vh;
    left: 28vw;
    font-size: 3vh;
    width: 50vw;
    height: 41vh;
}

#next {
    position: absolute;
    top: 36vh;
    left: 95%;
    font-size: 6vh;
}

#prev {
    position: absolute;
    top: 35.5vh;
    left: 5vw;
    font-size: 6vh;
}

#home {
    position: absolute;
    top: 1vh;
    left: 90vw;
    color: white;
    width: fit-content;
    font-size: 3vh;
    text-decoration: underline;
}

#submit {
    background-color: rgb(153, 31, 0);
    font-size: 2.5vh;
    font-weight: bolder;
    color: white;
    position: relative;
    top: 1vh;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(153, 31, 0); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(228, 46, 1); 
  }
::-webkit-scrollbar-thumb {
    background: rgb(153, 31, 0);; 
    border-radius: 10px;
  }


@media screen and (max-width:895px) {
    .sidepanel{
        overflow-y:scroll;
        width: 55vw;
        left:-55vw
    }
    #check:checked ~ label #btn{
        margin-left: 60%;
    }
    #check:checked ~ label #cancel{
        margin-left: 90%;
    }
    #check{
        display: none;
    }
    label #btn, label #cancel{
        position: absolute;
        cursor:pointer;
        background: #262626;
        height:45px;
        width: 45px;
        text-align: center;
        line-height: 45px;
        color:#ffffff;
        font-size: 29px;
        margin:15px;
        border: 1px solid #262626;
        border-radius: 5px;
        transition: all .5s ease;
    }
    label #cancel{
        opacity: 0;
        visibility: hidden;
    }
    #check:checked ~ label #btn{
        margin-left: 45vw;
        visibility: hidden;
    
    }
    #check:checked ~ label #cancel{
        margin-left: 55vw;
        opacity:1;
        visibility: visible;
        
    
    }
    #check:checked ~ .slidebar{
        left:0;
    }
    #btn{
        top:9vh;
    }
    #cancel{
        top:9vh;
    }
    .checkbtn{
            display: block;
        }
        #sidepanel{
            display: none;
        }
        #elements{
            display: block;
        }
        a:hover,a.active{
            background: none;
        }
        #check:checked ~ .sidepanel{
            left:0;
        }
        #header i{
            font-size:3.5vh;
        }
       
}
@media screen and (min-width:1000px) {
    .sidepanel{
            width: 25vw;
        }
    }
